@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&Inconsolata:wght@400;700&family=Inter:wght@300;500;900&display=swap');

html,
body, input, button {
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Mono", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.3;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
